h1 {
    font-size: 20px;
    margin: auto;
    font-weight: 300;
    text-align: center;
}
p{
    font-weight: 300;
    text-align: center;
}

h1 > a {
    color: black;
}

.logo{
    width:15vw;
    height:15vw;
    background: url(assets/leto.svg);
    background-repeat: no-repeat;
    background-size: 10vw;
    margin: 50px auto;
    background-position: center;
    background-color: #DF5119;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}